<h3>Email invitation!</h3>

You have received an invitation to join MM-VANATOARE APP. In order to access the application, follow this link in order to create a new account:
<a href="http://104.155.36.239:8000/signup?code={{ invitationCode }}"> Sign Up </a>

Thanks!
